.sixth-container {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.sixth-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.sixth-intro-text {
    font-size: 15px;
    text-align: center;
color: rgba(88, 141, 207, 1);
    line-height: 1.5;
    max-width: 320px;
    margin: 0;
    padding: 20px;

    border-radius: 10px;
    text-align: left;
}


.sixth-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


.sixth-row:first-child {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
   
}

.sixth-row:last-child {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.sixth-card {
    border-radius: 10px;
    padding: 20px;
    width: 310px;
    height: auto;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgb(219, 219, 219);
}

.sixth-card:hover {
    transform: scale(1.02);
}


.sixth-card-image {
    width: 70px;
    margin-bottom: 10px;
    margin-left: -70%;
    padding: 10px;
}


.sixth-card-title {
    
    margin-bottom: 5px;
    text-align: left;
width: 80%;
    font-family: DM Sans;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0%;

}


.sixth-card-text {
  align-items: center;
  justify-content: center;
  text-align: center;
 
    color: black;
    text-align: left;
 
    font-family: DM Sans;
width: 90%;
font-size: 16px;
line-height: 30px;
letter-spacing: 0%;

}

.button-sixth{
    margin-top: 60px;
    display: flex;
    justify-content: center;
 margin-bottom: 40px;
 border-radius: 8px;

 line-height: 20px;
 color: #6782FF;
}


.white-button{
    color: black;
    display: flex;
width: 162px;
height: 42px;
line-height: 20px;
color: #6782FF;
border-radius: 8px;

  }
  .btn {
  
    cursor: pointer;
    
    transition: background 0.3s ease;

  }