.sixth-container {
    text-align: center;
    padding: 20px;
}

.sixth-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.sixth-intro-text {
    font-size: 15px;
    text-align: center;
    color: #333;
    line-height: 1.5;
    max-width: 320px;
    margin: 0;
    padding: 20px;

    border-radius: 10px;
    text-align: left;
}


.sixth-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


.sixth-row:first-child {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
   
}

.sixth-row:last-child {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}


.sixth-card {
    border-radius: 10px;
    padding: 20px;
    width: 310px;
    height: auto;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgb(219, 219, 219);
}

.sixth-card:hover {
    transform: scale(1.02);
}


.sixth-card-image {
    width: 70px;
    margin-bottom: 10px;
    margin-left: -70%;
    padding: 10px;
}


.sixth-card-title {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 20px;
    margin-right: 50px;
}


.sixth-card-text {
    margin-left: 20px;
    font-size: 16px;
    color: black;
    text-align: left;
    word-spacing: 3px;
}

.button-sixth{
    margin-top: 60px;
    display: flex;
    justify-content: center;
 margin-bottom: 40px;
}