.container_last {

    height: 105vh;
    width: 100%;
    padding-top: 120px;
  margin-top: -70px;
 
   background-position: center;
     text-align: center;
     justify-content: center;
 background-blend-mode: normal;

 
 z-index: 10000;
  
     border-top-left-radius: 80px;
     
     border-top-right-radius: 80px;
   }
   
   .sections_last {
     display: flex;
     width: 100vw; 
     gap: 40px;
     justify-content: space-between;
 }
   
   .left_last {
     flex: 1;
     text-align: left;
     margin: 70px 90px;
   }
   
   .left_last h1 {
     font-size: 2.9rem;
     margin-bottom: 10px;
     color: #ffffff;
   }
   
   .left_last p {
  margin-top: 50px;
     color: #ffffff;
    
     font-family: DM Sans 36pt;
font-weight: 500;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.5px;

   }
   label{
    color:rgba(235, 241, 248, 1);
   }
   
   
   .btn {
     padding: 10px 20px;
     border: none;
     cursor: pointer;
 
     transition: background 0.3s ease;
 
   }
   

   .right_last {
     margin-right: 70px;
     flex: 1;
     text-align: left;
   }
   
   form {
     display: grid;
    gap: 1px;
     margin: 30px 10px;
     justify-content: center;
     align-items: center;
   }
   label{
     color: white;
   
   }
   
   form input,
   form textarea {
  
     padding: 1px 20px;
    
     border: 1px solid #ccc;
     border-radius: 5px; 
     
   }
   

 
 .tailored_last{
     position: relative;
     font-family: DM Sans 36pt;
font-weight: 900;
font-size: 48px;
line-height: 64px;
letter-spacing: -0.5px;
text-transform: capitalize;

 }
   .effect-line-last{
     position: absolute;
   left: 8px;
   bottom: -15px;
 
   }


.label_flex{
    display: flex;
}