/* .seventh-section {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #351953 ;
    
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    
} */

.seventh-section {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

        background-color: #351953; /* Fallback color */
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}



.seventh-content {
    display: flex;
    max-width: 1000px;
 align-items: center;
 margin-left: 8%;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
}

/* Left Side: Heading + Two Paragraphs */
.seventh-left {
    width: 50%;
    color: #EFBF04;
}

.seventh-title {

    color: #333;
    margin-bottom: 100px;
    color: #EFBF04;
    font-family: DM Sans;
font-weight: 700;
font-style: italic;
font-size: 44px;
line-height: 48px;
letter-spacing: 0%;

}

.seventh-paragraph {
    
    margin-bottom: 60px;
    width: 80%;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    
}

/* Right Side: Three Paragraphs */
.seventh-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #EFBF04;
   
   
}

.seventh-right-paragraph {


 margin-bottom: 75px;
    border-radius: 8px;
    width: 80%;
    margin-top: -5px;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;

 
    
}

.seventh-left h2{
    
    margin-left: 20px;
    font-family: DM Sans;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 0%;


}

.seventh-right h2{
    font-size: 25px;
    margin-left: 20px;

}